---
import './PartnerCarousel.css'

// const Partners = [
//     {
//         name: 'Astro',
//         logo: '/assets/astro.svg',
//         url: 'https://astro.build',
//     },
//     {
//         name: 'Bastro',
//         logo: '/assets/bastro.svg',
//         url: 'https://bastro.io',
//     },
// ]
import  Logo from '../../assets/astro.svg'
---



<section class="brands section" data-cues="zoomIn">
    <div class="inner-container">
      <div class="marquee">
        <div class="marquee-block">
          <!-- content-box -->
          <a href="#" class="content-box">
            <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
            <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
        </div>
        <div class="marquee-block">
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
          <!-- content-box -->
          <a href="#" class="content-box">
           <img src={Logo.src} alt="Logo de la marca" />
          </a>
        </div>
      </div>
    </div>
  </section>


