---
import { getCollection } from "astro:content";
import "./PartnerCarousel.css";
const sponsors = await getCollection("sponsors");









---

<section class="echofy-text-section" data-cues="zoomIn">
  <div class="inner-container">
    <div class="marquee">
      <div class="marquee-block">

        {
          sponsors.map((sponsor) => {
            const { data } = sponsor;
            return (
              <div class="content-box">
                <a href={data.url} target="_blank">
                  <img src={data.logo} alt={data.name} loading="lazy" />
                </a>
              </div>
            );
          })
        } 
      </div>
      
      <div class="marquee-block">
        {
          sponsors.map((sponsor) => {
            const { data } = sponsor;
            return (
              <div class="content-box">
                <a href={data.url} target="_blank">
                  <img src={data.logo} alt={data.name} />
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>
</section>
