---
import "./HotelCard.css";

interface Props {
  title: string;
  imagen: string;
  slug: string;
  tipo: string;
}
const { title, tipo, imagen, slug } = Astro.props;
---

<div class="card-hospedaje">
  <figure class="card-img-wrapper">
    <img src={`/hospedaje/${imagen}`} alt={title} class="card-img" />
    <p class="card-location">
      <span class="mdi--home-city"></span>
      {tipo}
    </p>
  </figure>
  <div class="card-content">
    <h3 class="card-title">{title}</h3>

    <a href={`/hospedajes/${slug}`} class="card-btn">Ver más</a>
  </div>
</div>
