---
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/goBack/goBack.astro";
import Sponsors from "../../components/sponsors/sponsors.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const hospedajes = await getCollection("hospedajes");

    return hospedajes.map((hospedaje) => ({
        params: { slug: hospedaje.slug },
        props: { hospedaje },
    }));
}
const { hospedaje } = Astro.props;
const { data } = hospedaje;
const {
    title,
    direccion,
    imagen,
    descripcionLong,
    horarioAtencion,
    telefono,
    redesSociales,
    galeria,
} = data;
const { Content } = await render(hospedaje);

const message = encodeURIComponent(
    "¡Hola! 👋 Estoy interesado/a en conocer sus paquetes o servicios de viaje para el Carnaval Riojano 2026. ¿Me podría brindar más información? Gracias 😊",
);
const whatsappUrl = `https://api.whatsapp.com/send?phone=+51${telefono}&text=${message}`;
---

<Layout title={title}>
    <section class="hospedaje section container">
        <nav class="headers__buttons">
            <GoBack text="Volver a inicio" link="/" />
            <GoBack text="Ver hospedajes" link="/hospedajes" />
        </nav>

        <section class="grid__content">
            <div class="content__info">
                <h2 class="content__title">{title}</h2>
                <p class="content__location">
                    <span class="mdi--location"></span>
                    {direccion}
                </p>
                <p class="content__descripcion">{descripcionLong}</p>
                <p class="content__horarioAtencion">
                    <span class="mingcute--time-line"></span>
                    {horarioAtencion}
                </p>
            </div>

            <figure class="content__image">
                <img
                    class="content__image-img"
                    src={`/hospedaje/${imagen}`}
                    alt={title}
                />
            </figure>
        </section>

        <section>
            <div class="hospedaje__info">
                <h3 class="hospedaje__info-title">Datos de contacto</h3>
                <div class="hospedaje_links">
                    {
                        telefono.trim() && (
                            <a
                                target="_blank"
                                class="hospedaje__link whatsapp"
                                href={whatsappUrl}
                            >
                                <span class="ic--baseline-whatsapp" />
                                Contactar
                            </a>
                        )
                    }

                    {
                        redesSociales?.facebook && (
                            <a
                                target="_blank"
                                class="hospedaje__link facebook"
                                href={redesSociales.facebook}
                            >
                                <span class="ic--baseline-facebook" />
                                facebook
                            </a>
                        )
                    }
                    {
                        redesSociales?.instagram && (
                            <a
                                target="_blank"
                                class="hospedaje__link instagram"
                                href={redesSociales.instagram}
                            >
                                <span class="mdi--instagram" />
                                instagram
                            </a>
                        )
                    }
                </div>
            </div>
        </section>

        <section class="contenido__grid">
            <div class="contenido__info">
                <Content />
            </div>
            <div class="galeria">
                {
                    galeria.map((imagen) => (
                        <img src={`/hospedaje/${imagen}`} alt={title} />
                    ))
                }
            </div>
        </section>  
        <Sponsors />

        <nav class="headers__buttons">
            <GoBack text="Volver a inicio" link="/" />
            <GoBack text="Ver hospedajes" link="/hospedajes" />
        </nav>
    </section>
</Layout>
