---
import { getCollection } from "astro:content";
import "./reinas-carousel.css";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import ReinaCard from "../reina-card/ReinaCard.astro";

const reinas = await getCollection("reinas");
---

<!-- Slider main container --><!-- Swiper -->
<div class="wrapper__slide">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {
                reinas.map((reina) => {
                    const { slug, data } = reina;
                    const { title, barrio, edad, profesion, imagenPrincipal } =
                        data;

                    return (
                        <div class="swiper-slide">
                            <ReinaCard
                                reinaImg={imagenPrincipal}
                                reinaName={title}
                                reinaBarrio={barrio}
                                reinaEdad={edad}
                                reinaProfesion={profesion}
                                slug={slug}
                            />
                        </div>
                    );
                })
            }
        </div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<script src="./reinascarousel.js"></script>
