---
import { getCollection } from "astro:content";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import ReinaCard from "../reina-card/ReinaCard.astro";

const reinas = await getCollection("reinas");
---

<section class="slide__reinas container">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        reinas.map((reina) => {
          const { slug, data } = reina;
          const { nombreCorto, edad, profesion, imagenPrincipal, barrio } = data;
          return (
            <div class="swiper-slide">
              <ReinaCard
                reinaImg={imagenPrincipal}
                reinaName={nombreCorto}
                reinaBarrio={barrio}
                reinaEdad={edad}
                reinaProfesion={profesion}
                slug={slug}
              />
            </div>
          );
        })
      }
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div> 

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev">
      <span class="ic--round-arrow-left"></span>
    </div>
    <div class="swiper-button-next">
      <span class="ic--round-arrow-right"></span>
    </div> -->
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination, Scrollbar } from "swiper/modules";

  Swiper.use([Navigation, Pagination, Scrollbar]);

  new Swiper(".swiper", {
    slidesPerView: "auto",
    spaceBetween: 16,
    loop: true,
    centeredSlides: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 24,
        centeredSlides: false,  
      },
      768: {
        slidesPerView: 3,
        centeredSlides: false,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 32,
        centeredSlides: false,
      },
    },
  });
</script>

<style>
  .
  .slide__reinas {
    margin: 0 auto;
  }
  .swiper-wrapper {
    padding-block: 3rem;
    transition: all 0.3s ease;
  }
  .swiper-wrapper:hover .swiper-slide:not(:hover) {
    transition: all 0.3s ease;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    
  }
  .swiper-slide {
    width: 80%;
    max-width: 300px;
    margin: 0;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
  }

  @media (min-width: 640px) {
    .swiper-slide {
      width: 100%;
    }
  }
</style>
