---
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/goBack/goBack.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const reinas = await getCollection("reinas");
  return reinas.map((reina) => ({
    params: { slug: reina.slug },
    props: { reina },
  }));
}
const { reina } = Astro.props;
const { data } = reina;
const {
  nombreCompleto,
  barrio,
  edad,
  profesion,
  imagenPrincipal,
  redesSociales,
} = data;

const { Content } = await render(reina);
---

<Layout title={nombreCompleto}>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://scontent.ftnm2-1.fna.fbcdn.net/v/t39.30808-6/480871383_122139231926428428_6895659775536706297_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_ohc=4rc2irWYPy4Q7kNvwFf8hUD&_nc_oc=AdnTwAdk-KViRE3lv-Mf7fnt79Pld_PhuUPldEcUn5rMkVK5E4OOAQV8H0sjJh47jr7D8wyzSGxXvWL1TYMRntKC&_nc_zt=23&_nc_ht=scontent.ftnm2-1.fna&_nc_gid=xwgYz6TGectUK-sv9AOaNQ&oh=00_AfP202smRTmYz2lSBZWFcQGHAnFPpZvAiu7A65RMXUXxeg&oe=6862237E"
          alt={`Galería de la Reina del Carnaval 2026 en Rioja - ${nombreCompleto}`}
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://scontent.ftnm2-1.fna.fbcdn.net/v/t39.30808-6/480871383_122139231926428428_6895659775536706297_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_ohc=4rc2irWYPy4Q7kNvwFf8hUD&_nc_oc=AdnTwAdk-KViRE3lv-Mf7fnt79Pld_PhuUPldEcUn5rMkVK5E4OOAQV8H0sjJh47jr7D8wyzSGxXvWL1TYMRntKC&_nc_zt=23&_nc_ht=scontent.ftnm2-1.fna&_nc_gid=xwgYz6TGectUK-sv9AOaNQ&oh=00_AfP202smRTmYz2lSBZWFcQGHAnFPpZvAiu7A65RMXUXxeg&oe=6862237E"
          alt={`Galería de la Reina del Carnaval 2026 en Rioja - ${nombreCompleto}`}
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://scontent.ftnm2-1.fna.fbcdn.net/v/t39.30808-6/480871383_122139231926428428_6895659775536706297_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=f727a1&_nc_ohc=4rc2irWYPy4Q7kNvwFf8hUD&_nc_oc=AdnTwAdk-KViRE3lv-Mf7fnt79Pld_PhuUPldEcUn5rMkVK5E4OOAQV8H0sjJh47jr7D8wyzSGxXvWL1TYMRntKC&_nc_zt=23&_nc_ht=scontent.ftnm2-1.fna&_nc_gid=xwgYz6TGectUK-sv9AOaNQ&oh=00_AfP202smRTmYz2lSBZWFcQGHAnFPpZvAiu7A65RMXUXxeg&oe=6862237E"
          alt={`Galería de la Reina del Carnaval 2026 en Rioja - ${nombreCompleto}`}
        />
      </div>
    </div>
    <div class="swiper-button-next">
      <!-- <span class="iconamoon--arrow-right-2-duotone"></span> -->
    </div>
    <div class="swiper-button-prev">
      <!-- <span class="iconamoon--arrow-left-2-duotone"></span> -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <section class="section container">
    <div class="content_reina">
      <nav class="reina__nav">
        <GoBack text="Volver a inicio" link="/" />
        <GoBack text="Todas las reinas" link="/reinas" />
      </nav>

      <header class="reina__header">
        <div class="user-card">
          <div class="user-card__avatar">
            <img
              src={`/reinas${imagenPrincipal}`}
              alt={`foto de ${nombreCompleto}`}
            />
          </div>

          <div class="user-card__info">
            <h2 class="user-card__name">{nombreCompleto}</h2>
            <p class="user-card__details">Barrio de {barrio}</p>
            <p class="user-card__details">{edad} años • {profesion}</p>
          </div>
        </div>

        <ul class="wrapper">
          {
            redesSociales?.facebook && (
              <li>
                <a
                  class="icon facebook"
                  href={redesSociales.facebook}
                  target="_blank"
                >
                  <span class="tooltip">Facebook</span>
                  <span class="ic--baseline-facebook" />
                </a>
              </li>
            )
          }
          {
            redesSociales?.instagram && (
              <li>
                <a
                  class="icon instagram"
                  href={redesSociales.instagram}
                  target="_blank"
                >
                  <span class="tooltip">Instagram</span>
                  <span class="mdi--instagram" />
                </a>
              </li>
            )
          }
          {
            redesSociales?.tiktok && (
              <li>
                <a
                  class="icon tiktok"
                  href={redesSociales.tiktok}
                  target="_blank"
                >
                  <span class="tooltip">TikTok</span>
                  <span class="ic--baseline-tiktok" />
                </a>
              </li>
            )
          }
        </ul>
      </header>

      <div class="reina__content">
        <Content />
      </div>

      <nav class="reina__nav">
        <GoBack text="Volver a inicio" link="/" />
        <GoBack text="Todas las reinas" link="/reinas" />
      </nav>
    </div>
  </section>
</Layout>
<style>
  .reina__header {
    display: flex;
    column-gap: 1rem;
    padding-top: 2rem;
    flex-wrap: wrap;
  }
  .reina__nav {
    display: flex;
    gap: 1rem;
  }
  .content_reina {
    max-width: 1000px;
    margin: auto;
  }
  .reina__image {
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .reina__image_img {
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  .reina__info-item,
  .reina__info-title {
    margin: 0;
    padding: 0;
  }
  .reina__info-title {
    font-size: clamp(1.5rem, 5vw, 2rem);
    text-wrap: balance;
    color: purple;
    line-height: 1;
  }
  .reina__info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .reina__info-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reina__content {
    margin-top: 2rem;
  }
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    transition: all 0.3s ease;
    user-select: none;
    text-align: center;
  }

  .user-card__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid var(--color-primary);
  }

  .user-card__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user-card__name {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: purple;
    text-wrap: balance;
    line-height: 1;
  }

  .user-card__details {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
  }
  .user-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .wrapper {
    display: inline-flex;
    list-style: none;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    padding-left: 0;
  }

  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: var(--color-text-p);
  }

  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #1877f2;
    color: #fff;
  }

  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    color: #fff;
  }

  .wrapper .tiktok:hover,
  .wrapper .tiktok:hover .tooltip,
  .wrapper .tiktok:hover .tooltip::before {
    background: crimson;
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    .user-card {
      flex-direction: row;
      text-align: left;
    }
  }

  /* swiper js estilos */
  .swiper {
    width: 100%;
    aspect-ratio: 16/9;
  }
  /* .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  } */

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-primary);
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  :global(.swiper-pagination-progressbar) {
    background: rgba(255, 255, 255, 0.3) !important;
    height: 6px;
  }

  :global(.swiper-pagination-progressbar-fill) {
    background: var(--color-primary) !important;
  }

  @media screen and (min-width: 1024px) {
    /* .reina__wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    .reina__image {
      aspect-ratio: 9/16;
      max-height: max-content;
      object-fit: cover;
    } */
  }
</style>
<script>
  import Swiper from "swiper";
  import { Pagination, Navigation } from "swiper/modules";

  const swiper = new Swiper(".mySwiper", {
    modules: [Pagination, Navigation],
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    // loop: true,
  });
</script>
