---
import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/goBack/goBack.astro";
import ReinaCard from "../../components/reinas/reina-card/ReinaCard.astro";
import Sponsors from "../../components/sponsors/sponsors.astro";
import { getCollection } from "astro:content";

const reinas = await getCollection("reinas");
---

<Layout title="Programación del Carnaval Riojano 2025">
    <section class="section container">
        <nav class="headers__buttons">
            <GoBack text="Volver a inicio" link="/" />
        </nav>
            <div class="grid__reinas">
                {
                    reinas.map((reina) => {
                        const { slug, data } = reina;
                        const {
                            title,
                            imagenPrincipal,
                            barrio,
                            edad,
                            profesion,
                        } = data;

                        return (
                           <ReinaCard 
                           reinaImg={imagenPrincipal}
                           reinaName={title}
                           reinaBarrio={barrio}
                           reinaEdad={edad}
                           reinaProfesion={profesion}
                           slug={slug}
                           />

                            // <a href={`/reinas/${slug}`} class="reina__article-link">
                            //     <article class="reina__article" >
                            //         <figure class="reina__article-image-wrapper">
                            //             <img 
                            //                 class="reina__article-image"
                            //                 src={`/reinas/${imagenPrincipal}`}
                            //                 alt="canditada - {title} del {barrio}"
                            //             />
                            //         </figure>
                            //         <div class="reina__article-content">
                            //             <h3 class="reina__article-title">{title}</h3>
                            //             <p  class="reina__article-info"> {profesion}</p>
                            //             <p class="reina__article-info">{barrio}</p>
                            //             <p class="reina__article-info">{edad} años</p>
                            //         </div>
                            //     </article>
                            // </a>
                        );
                    })
                }
            </div>
    </section>
    <Sponsors />
</Layout>
